<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>      
        <servlet-name>User</servlet-name>
        <display-name>User</display-name>
        <servlet-class>com.EvryIndia.Controller.UserController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Success</servlet-name>
        <display-name>Success</display-name>
        <servlet-class>com.EvryIndia.Controller.Success</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/Success</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
